c 1 ~ inTown(0,v_0,0)
c 2 ~ inTown(0,wardrobe1_floor0,0)
c 3 ~ inTown(0,table1_floor1,0)
c 4 ~ inTown(0,v_0,1)
c 5 ~ inTown(0,wardrobe1_floor0,1)
c 6 ~ inTown(0,table1_floor1,1)
c 7 ~ canTransport(0,v_0,wardrobe1_floor0)
c 8 ~ transports(0,v_0,wardrobe1_floor0)
c 9 ~ pickingUp(0,v_0,wardrobe1_floor0)
c 10 ~ canTransport(0,v_0,table1_floor1)
c 11 ~ transports(0,v_0,table1_floor1)
c 12 ~ pickingUp(0,v_0,table1_floor1)
c 13 ~ goesTo(0,v_0,0,1)
c 14 ~ goesTo(0,v_0,1,0)
c 15 ~ moves(0,v_0)
c 16 ~ moves(0,wardrobe1_floor0)
c 17 ~ moves(0,table1_floor1)
c 18 ~ inTown(0,v_0,0)
c 19 ~ inTown(0,wardrobe1_floor0,0)
c 20 ~ inTown(0,table1_floor1,0)
c 21 ~ inTown(0,v_0,1)
c 22 ~ inTown(0,wardrobe1_floor0,1)
c 23 ~ inTown(0,table1_floor1,1)
c 24 ~ canTransport(0,v_0,wardrobe1_floor0)
c 25 ~ transports(0,v_0,wardrobe1_floor0)
c 26 ~ pickingUp(0,v_0,wardrobe1_floor0)
c 27 ~ canTransport(0,v_0,table1_floor1)
c 28 ~ transports(0,v_0,table1_floor1)
c 29 ~ pickingUp(0,v_0,table1_floor1)
c 30 ~ goesTo(0,v_0,0,1)
c 31 ~ goesTo(0,v_0,1,0)
c 32 ~ moves(0,v_0)
c 33 ~ moves(0,wardrobe1_floor0)
c 34 ~ moves(0,table1_floor1)
c 35 ~ inTown(1,v_0,0)
c 36 ~ inTown(1,wardrobe1_floor0,0)
c 37 ~ inTown(1,table1_floor1,0)
c 38 ~ inTown(1,v_0,1)
c 39 ~ inTown(1,wardrobe1_floor0,1)
c 40 ~ inTown(1,table1_floor1,1)
c 41 ~ canTransport(1,v_0,wardrobe1_floor0)
c 42 ~ transports(1,v_0,wardrobe1_floor0)
c 43 ~ pickingUp(1,v_0,wardrobe1_floor0)
c 44 ~ canTransport(1,v_0,table1_floor1)
c 45 ~ transports(1,v_0,table1_floor1)
c 46 ~ pickingUp(1,v_0,table1_floor1)
c 47 ~ goesTo(1,v_0,0,1)
c 48 ~ goesTo(1,v_0,1,0)
c 49 ~ moves(1,v_0)
c 50 ~ moves(1,wardrobe1_floor0)
c 51 ~ moves(1,table1_floor1)
c 52 ~ inTown(0,v_0,0)
c 53 ~ inTown(0,wardrobe1_floor0,0)
c 54 ~ inTown(0,table1_floor1,0)
c 55 ~ inTown(0,v_0,1)
c 56 ~ inTown(0,wardrobe1_floor0,1)
c 57 ~ inTown(0,table1_floor1,1)
c 58 ~ canTransport(0,v_0,wardrobe1_floor0)
c 59 ~ transports(0,v_0,wardrobe1_floor0)
c 60 ~ pickingUp(0,v_0,wardrobe1_floor0)
c 61 ~ canTransport(0,v_0,table1_floor1)
c 62 ~ transports(0,v_0,table1_floor1)
c 63 ~ pickingUp(0,v_0,table1_floor1)
c 64 ~ goesTo(0,v_0,0,1)
c 65 ~ goesTo(0,v_0,1,0)
c 66 ~ moves(0,v_0)
c 67 ~ moves(0,wardrobe1_floor0)
c 68 ~ moves(0,table1_floor1)
c 69 ~ inTown(1,v_0,0)
c 70 ~ inTown(1,wardrobe1_floor0,0)
c 71 ~ inTown(1,table1_floor1,0)
c 72 ~ inTown(1,v_0,1)
c 73 ~ inTown(1,wardrobe1_floor0,1)
c 74 ~ inTown(1,table1_floor1,1)
c 75 ~ canTransport(1,v_0,wardrobe1_floor0)
c 76 ~ transports(1,v_0,wardrobe1_floor0)
c 77 ~ pickingUp(1,v_0,wardrobe1_floor0)
c 78 ~ canTransport(1,v_0,table1_floor1)
c 79 ~ transports(1,v_0,table1_floor1)
c 80 ~ pickingUp(1,v_0,table1_floor1)
c 81 ~ goesTo(1,v_0,0,1)
c 82 ~ goesTo(1,v_0,1,0)
c 83 ~ moves(1,v_0)
c 84 ~ moves(1,wardrobe1_floor0)
c 85 ~ moves(1,table1_floor1)
c 86 ~ inTown(2,v_0,0)
c 87 ~ inTown(2,wardrobe1_floor0,0)
c 88 ~ inTown(2,table1_floor1,0)
c 89 ~ inTown(2,v_0,1)
c 90 ~ inTown(2,wardrobe1_floor0,1)
c 91 ~ inTown(2,table1_floor1,1)
c 92 ~ canTransport(2,v_0,wardrobe1_floor0)
c 93 ~ transports(2,v_0,wardrobe1_floor0)
c 94 ~ pickingUp(2,v_0,wardrobe1_floor0)
c 95 ~ canTransport(2,v_0,table1_floor1)
c 96 ~ transports(2,v_0,table1_floor1)
c 97 ~ pickingUp(2,v_0,table1_floor1)
c 98 ~ goesTo(2,v_0,0,1)
c 99 ~ goesTo(2,v_0,1,0)
c 100 ~ moves(2,v_0)
c 101 ~ moves(2,wardrobe1_floor0)
c 102 ~ moves(2,table1_floor1)
c 103 ~ inTown(0,v_0,0)
c 104 ~ inTown(0,wardrobe1_floor0,0)
c 105 ~ inTown(0,table1_floor1,0)
c 106 ~ inTown(0,v_0,1)
c 107 ~ inTown(0,wardrobe1_floor0,1)
c 108 ~ inTown(0,table1_floor1,1)
c 109 ~ canTransport(0,v_0,wardrobe1_floor0)
c 110 ~ transports(0,v_0,wardrobe1_floor0)
c 111 ~ pickingUp(0,v_0,wardrobe1_floor0)
c 112 ~ canTransport(0,v_0,table1_floor1)
c 113 ~ transports(0,v_0,table1_floor1)
c 114 ~ pickingUp(0,v_0,table1_floor1)
c 115 ~ goesTo(0,v_0,0,1)
c 116 ~ goesTo(0,v_0,1,0)
c 117 ~ moves(0,v_0)
c 118 ~ moves(0,wardrobe1_floor0)
c 119 ~ moves(0,table1_floor1)
c 120 ~ inTown(1,v_0,0)
c 121 ~ inTown(1,wardrobe1_floor0,0)
c 122 ~ inTown(1,table1_floor1,0)
c 123 ~ inTown(1,v_0,1)
c 124 ~ inTown(1,wardrobe1_floor0,1)
c 125 ~ inTown(1,table1_floor1,1)
c 126 ~ canTransport(1,v_0,wardrobe1_floor0)
c 127 ~ transports(1,v_0,wardrobe1_floor0)
c 128 ~ pickingUp(1,v_0,wardrobe1_floor0)
c 129 ~ canTransport(1,v_0,table1_floor1)
c 130 ~ transports(1,v_0,table1_floor1)
c 131 ~ pickingUp(1,v_0,table1_floor1)
c 132 ~ goesTo(1,v_0,0,1)
c 133 ~ goesTo(1,v_0,1,0)
c 134 ~ moves(1,v_0)
c 135 ~ moves(1,wardrobe1_floor0)
c 136 ~ moves(1,table1_floor1)
c 137 ~ inTown(2,v_0,0)
c 138 ~ inTown(2,wardrobe1_floor0,0)
c 139 ~ inTown(2,table1_floor1,0)
c 140 ~ inTown(2,v_0,1)
c 141 ~ inTown(2,wardrobe1_floor0,1)
c 142 ~ inTown(2,table1_floor1,1)
c 143 ~ canTransport(2,v_0,wardrobe1_floor0)
c 144 ~ transports(2,v_0,wardrobe1_floor0)
c 145 ~ pickingUp(2,v_0,wardrobe1_floor0)
c 146 ~ canTransport(2,v_0,table1_floor1)
c 147 ~ transports(2,v_0,table1_floor1)
c 148 ~ pickingUp(2,v_0,table1_floor1)
c 149 ~ goesTo(2,v_0,0,1)
c 150 ~ goesTo(2,v_0,1,0)
c 151 ~ moves(2,v_0)
c 152 ~ moves(2,wardrobe1_floor0)
c 153 ~ moves(2,table1_floor1)
c 154 ~ inTown(3,v_0,0)
c 155 ~ inTown(3,wardrobe1_floor0,0)
c 156 ~ inTown(3,table1_floor1,0)
c 157 ~ inTown(3,v_0,1)
c 158 ~ inTown(3,wardrobe1_floor0,1)
c 159 ~ inTown(3,table1_floor1,1)
c 160 ~ canTransport(3,v_0,wardrobe1_floor0)
c 161 ~ transports(3,v_0,wardrobe1_floor0)
c 162 ~ pickingUp(3,v_0,wardrobe1_floor0)
c 163 ~ canTransport(3,v_0,table1_floor1)
c 164 ~ transports(3,v_0,table1_floor1)
c 165 ~ pickingUp(3,v_0,table1_floor1)
c 166 ~ goesTo(3,v_0,0,1)
c 167 ~ goesTo(3,v_0,1,0)
c 168 ~ moves(3,v_0)
c 169 ~ moves(3,wardrobe1_floor0)
c 170 ~ moves(3,table1_floor1)
c 171 ~ inTown(0,v_0,0)
c 172 ~ inTown(0,v_1,0)
c 173 ~ inTown(0,tv1_floor0,0)
c 174 ~ canTransport(0,v_0,tv1_floor0)
c 175 ~ transports(0,v_0,tv1_floor0)
c 176 ~ pickingUp(0,v_0,tv1_floor0)
c 177 ~ canTransport(0,v_1,tv1_floor0)
c 178 ~ transports(0,v_1,tv1_floor0)
c 179 ~ pickingUp(0,v_1,tv1_floor0)
c 180 ~ moves(0,v_0)
c 181 ~ moves(0,v_1)
c 182 ~ moves(0,tv1_floor0)
c 183 ~ inTown(0,v_0,0)
c 184 ~ inTown(0,v_1,0)
c 185 ~ inTown(0,tv1_floor0,0)
c 186 ~ canTransport(0,v_0,tv1_floor0)
c 187 ~ transports(0,v_0,tv1_floor0)
c 188 ~ pickingUp(0,v_0,tv1_floor0)
c 189 ~ canTransport(0,v_1,tv1_floor0)
c 190 ~ transports(0,v_1,tv1_floor0)
c 191 ~ pickingUp(0,v_1,tv1_floor0)
c 192 ~ moves(0,v_0)
c 193 ~ moves(0,v_1)
c 194 ~ moves(0,tv1_floor0)
c 195 ~ inTown(0,v_0,0)
c 196 ~ inTown(0,v_1,0)
c 197 ~ inTown(0,tv1_floor0,0)
c 198 ~ canTransport(0,v_0,tv1_floor0)
c 199 ~ transports(0,v_0,tv1_floor0)
c 200 ~ pickingUp(0,v_0,tv1_floor0)
c 201 ~ canTransport(0,v_1,tv1_floor0)
c 202 ~ transports(0,v_1,tv1_floor0)
c 203 ~ pickingUp(0,v_1,tv1_floor0)
c 204 ~ moves(0,v_0)
c 205 ~ moves(0,v_1)
c 206 ~ moves(0,tv1_floor0)
c 207 ~ inTown(0,v_0,0)
c 208 ~ inTown(0,tv1_floor0,0)
c 209 ~ canTransport(0,v_0,tv1_floor0)
c 210 ~ transports(0,v_0,tv1_floor0)
c 211 ~ pickingUp(0,v_0,tv1_floor0)
c 212 ~ moves(0,v_0)
c 213 ~ moves(0,tv1_floor0)
c 214 ~ inTown(0,v_0,0)
c 215 ~ inTown(0,tv1_floor0,0)
c 216 ~ canTransport(0,v_0,tv1_floor0)
c 217 ~ transports(0,v_0,tv1_floor0)
c 218 ~ pickingUp(0,v_0,tv1_floor0)
c 219 ~ moves(0,v_0)
c 220 ~ moves(0,tv1_floor0)
c 221 ~ inTown(0,v_0,0)
c 222 ~ inTown(0,tv1_floor0,0)
c 223 ~ canTransport(0,v_0,tv1_floor0)
c 224 ~ transports(0,v_0,tv1_floor0)
c 225 ~ pickingUp(0,v_0,tv1_floor0)
c 226 ~ moves(0,v_0)
c 227 ~ moves(0,tv1_floor0)
c 228 ~ inTown(0,v_0,0)
c 229 ~ inTown(0,tv1_floor0,0)
c 230 ~ canTransport(0,v_0,tv1_floor0)
c 231 ~ transports(0,v_0,tv1_floor0)
c 232 ~ pickingUp(0,v_0,tv1_floor0)
c 233 ~ moves(0,v_0)
c 234 ~ moves(0,tv1_floor0)
c 235 ~ inTown(0,v_0,0)
c 236 ~ inTown(0,tv1_floor0,0)
c 237 ~ canTransport(0,v_0,tv1_floor0)
c 238 ~ transports(0,v_0,tv1_floor0)
c 239 ~ pickingUp(0,v_0,tv1_floor0)
c 240 ~ moves(0,v_0)
c 241 ~ moves(0,tv1_floor0)
c 242 ~ inTown(0,v_0,0)
c 243 ~ inTown(0,tv1_floor0,0)
c 244 ~ canTransport(0,v_0,tv1_floor0)
c 245 ~ transports(0,v_0,tv1_floor0)
c 246 ~ pickingUp(0,v_0,tv1_floor0)
c 247 ~ moves(0,v_0)
c 248 ~ moves(0,tv1_floor0)
c 249 ~ inTown(0,v_0,0)
c 250 ~ inTown(0,tv1_floor0,0)
c 251 ~ canTransport(0,v_0,tv1_floor0)
c 252 ~ transports(0,v_0,tv1_floor0)
c 253 ~ pickingUp(0,v_0,tv1_floor0)
c 254 ~ moves(0,v_0)
c 255 ~ moves(0,tv1_floor0)
c 256 ~ inTown(0,tv1_floor0,0)
c 257 ~ moves(0,tv1_floor0)
p cnf 257 3
256 0
256 0
256 0
